<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>

    <script>
	function addTable() {
		window.open("/locateAddTable.do", "a","width=400, height=300, left=100, top=50");
	}

	function showTable(){
	    window.open("/locateShowTable.do", "a","width=400, height=300, left=100, top=50");
	}


	function showReservationByMonth(){
	    window.open("/showReservationByMonth.do", "a","width=400, height=300, left=100, top=50");
	}
    </script>
</head>

<body>
    <h1>Admin PAGE</h1>

    <form action="/logOut.do" style="width: 94px;">
        <input type="submit" value="log out">
    </form>

    <form action="/showReservation.do" style="width: 94px;">
        <input type="submit" value="예약 정보">
    </form>

    <button onclick="showTable()">테이블 보기</button>

    <button onclick="addTable()">테이블 추가</button>

    <button onclick="showReservationByMonth()">월별 추이</button>
</body>
</html>