<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>예약정보</title>
    <style>
      td {
        text-align: center;
      }

    </style>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no"/>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" href="assets/css/main.css"/>

    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <article>
        <h2 class="major">예약 현황</h2>

        <table border="1">
        <thead>
            <tr>
                <td>고유번호</td>
                <td>날짜</td>
                <td>테이블번호</td>
                <td>인원수</td>
                <td>앞 대기열</td>
                <td>노쇼 등록</td>
            </tr>
            </thead>
            <tr th:each="list : ${list}">
                <td th:text="${list.getVal_oid()}"></td>
                <td th:text="${list.getVal_start_time()}"></td>
                <td th:text="${list.getVal_tid()}"></td>
                <td th:text="${list.getVal_people_number()}"></td>
                <td th:text="${list.getVal_rank()}"></td>
                <td>
                    <form action="/increaseNoShow.do" style="width: 94px;">
                        <input type="hidden" name="uid"
                               th:value="${list.getVal_uid()}"/> <input type="submit" value="노쇼">
                    </form>
                </td>
            </tr>
        </table>
    </article>
    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">
            &copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.
        </p>
    </footer>
</div>
<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>