<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<body>
<head>
  <meta charset="UTF-8">
  <title>월별 추이</title>
</head>
<body>
<h1>월별 추이</h1>

<table border="1">
  <tr>
    <td>날짜</td>
    <td>예약 수</td>
  </tr>
  <tr th:if="${dataList.empty}">
    <td colspan="2"> No Books Available </td>
  </tr>
  <tr th:each="data : ${dataList}">
    <td th:text="${data.getTime()}"></td>
    <td th:text="${data.getCount()}"></td>
  </tr>
  </table>

</body>
</html>