<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>

 
<form action="/joinUs.do" method="post">
    <div>
        <label for="id">ID: </label>
        <input id="id" name="id" type="text"> 
    </div>
    <div>
        <label for="PASSWORD">PW: </label>
        <input id="PASSWORD" name="PASSWORD" type="password">
    </div>
    <div>
        <label for="name">NAME: </label>
        <input id="name" name="name" type="text">
    </div>
    <div>
        <label for="name">PHONENUMBER: </label>
        <input id="phonenumber" name="phonenumber" type="text">
    </div>

    <input type="submit" value="go">
</form>
</body>
</html>

