<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	window.onload = function() {
		document.getElementById('time').chec
	}
</script>

</head>
<body>
	<h2>modify page : 선택의 기본 값이 현재 예약의 기본값을 가지도록 구현함 //아직 백엔드부분은 구현안함</h2>
	<h1 th:text="${userid} + '님의 예약 현황'"></h1>
	<h1 th:text="${reserveOid} + '번 예약'"></h1>
	<h1 th:text="${vo} + '번 예약'"></h1>

		<!-- 디버깅용-->
		<td>디버깅용임 현재예약정보</td><br>
		<td th:text="'oid = '+${mReserv.oid}"></td><br>
		<td th:text="'full start_time = '+${mReserv.start_time}"></td><br>
		<td th:text="'div date = '+${mReserv.date}"></td><br>
		<td th:text="'div time = '+${mReserv.time}"></td><br>
		<td th:text="'tid = ' + ${mReserv.tid}"></td><br>
		<td th:text="'people_number = '+${mReserv.people_number}"></td><br>
		<td th:text="'rank = ' + ${mReserv.rank}"></td><br>
		<td>완성되면지울것</td><br><br>
		
		<!-- 디버깅용-->


	<form action="/addReservation" method="post">
		<div>
			<label for="date">날짜 </label> <input id="date" name="date"
				type="date" th:value="${mReserv.date}">
		</div>
		<div>
			<label for="time">시간</label> <select name="time" id="time">
				<option value="11" th:selected="${mReserv.time.equals('11:00')}">11:00</option>
				<option value="12" th:selected="${mReserv.time.equals('12:00')}">12:00</option>
				<option value="13" th:selected="${mReserv.time.equals('13:00')}">13:00</option>
				<option value="14" th:selected="${mReserv.time.equals('14:00')}">14:00</option>
				<option value="17" th:selected="${mReserv.time.equals('17:00')}">17:00</option>
				<option value="18" th:selected="${mReserv.time.equals('18:00')}">18:00</option>
				<option value="19" th:selected="${mReserv.time.equals('19:00')}">19:00</option>
				<option value="20" th:selected="${mReserv.time.equals('20:00')}">20:00</option>
			</select>
		</div>
		<div>
			<label for="num_people">인원</label> <select name="num_people"
				id="num_people">
				<option value="1" th:selected="${mReserv.people_number.equals(1)}">1</option>
				<option value="2" th:selected="${mReserv.people_number.equals(2)}">2</option>
				<option value="3" th:selected="${mReserv.people_number.equals(3)}">3</option>
				<option value="4" th:selected="${mReserv.people_number.equals(4)}">4</option>
				<option value="5" th:selected="${mReserv.people_number.equals(5)}">5</option>
				<option value="6" th:selected="${mReserv.people_number.equals(6)}">6</option>
			</select>
		</div>
		<div>
			<label for="table">table</label> <select name="table" id="table">
				<option value="auto">자동배정</option>
			</select>
		</div>
		<br> <input type="submit" value="예약 완료">
	</form>







</body>
</html>