<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<title>Document</title>
</head>
<body>
<form action="/addReservation" method="post">
	<div>
		<label for="date">날짜 </label> <input id="date" name="date" type="date">
	</div>
	<div>
		<label for="time">시간</label> <select name="time" id="time">
			<option value="11">11:00</option>
			<option value="12">12:00</option>
			<option value="13">13:00</option>
			<option value="14">14:00</option>
			<option value="17">17:00</option>
			<option value="18">18:00</option>
			<option value="19">19:00</option>
			<option value="20">20:00</option>
		</select>
	</div>
	<div>
		<label for="num_people">인원</label> <select name="num_people"
			id="num_people">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
		</select>
	</div>
	<div>
		<label for="table">table</label> <select name="table" id="table">
			<option value="auto">자동배정</option>
		</select>
	</div>
	<br>
	<input type="submit" value="예약 완료">
</form>
</body>
</html>